flows_wardix_ubuntu_cred.json
[{"id":"f450791f.d9e9c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"54f3e2ad.c159f4","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Tabla","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"42070ea6.1c0078","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"16d0b435.b3dbf4","type":"ui_group","z":"","name":"Default","tab":"a956c4cc.843d8","order":2,"disp":false,"width":"12","collapse":false},{"id":"bdb49ec1.217578","type":"ui_tab","z":"","name":"control2","icon":"dashboard","disabled":false,"hidden":false},{"id":"a956c4cc.843d8","type":"ui_tab","z":"","name":"control","icon":"dashboard","disabled":false,"hidden":false},{"id":"a0d4aac8.f08f2","type":"mqtt-broker","z":"","name":"mosquitto1","broker":"192.168.1.39","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ed656a86.62e5a8","type":"google-cloud-text-to-speech-credentials","z":"","name":""},{"id":"6475eee3.3133a8","type":"google-cloud-text-to-speech-credentials","z":"","name":"Json1"},{"id":"d2c03671.efe878","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"","ssl":false},{"id":"aa64692f.7f2a8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"2ca138e6.fee9e","type":"mqtt out","z":"f450791f.d9e9c8","name":"","topic":"dos","qos":"1","retain":"","broker":"a0d4aac8.f08f2","x":310,"y":20,"wires":[]},{"id":"597f1fd5.45e738","type":"function","z":"f450791f.d9e9c8","name":"control","func":"var a = msg.payload\nif (a == 'encender rojo'){\n    a = 'eencender rojo';\n}\nif (a == 'apagar rojo'){\n    a = 'aapagar rojo'\n}\nif (a == 'encender verde'){\n    a = 'eencender verde';\n}\nif (a == 'apagar verde'){\n    a = 'aapagar verde'\n}\nif (a == 'encender azul'){\n    a = 'eencender azul';\n}\nif (a == 'apagar azul'){\n    a = 'aapagar azul'\n}\nif (a == 'encender todos'){\n    a = 'todos los leds encendidos, ....titita revisa tu meil'\n}\nif (a == 'apagar todos'){\n    a = ',todos los leds apagados'\n}\nif (a == 'luz cocina'){\n    a = ',la luz de la cocina está encendida'\n}\nmsg.payload = a\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["96382d7a.e6d2c8"]]},{"id":"29f6eb79.d110dc","type":"mqtt in","z":"f450791f.d9e9c8","name":"","topic":"uno","qos":"1","datatype":"auto","broker":"a0d4aac8.f08f2","x":50,"y":160,"wires":[["597f1fd5.45e738","2ca138e6.fee9e","81d84d51.45d4c"]]},{"id":"49f742b3.7d52f4","type":"debug","z":"f450791f.d9e9c8","name":"APP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":260,"wires":[]},{"id":"71cb682.6a7a918","type":"debug","z":"f450791f.d9e9c8","name":"Control","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"96382d7a.e6d2c8","type":"ui_text_input","z":"f450791f.d9e9c8","name":"","label":"","tooltip":"show","group":"16d0b435.b3dbf4","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"30","topic":"uno","x":520,"y":320,"wires":[[]],"info":"text=msg.payload;\nif(text !==\"\"){\n    msg.payload = text;\n}\nreturn msg;"},{"id":"754f6853.9a3948","type":"e-mail","z":"f450791f.d9e9c8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"resourceldg@gmail.com","dname":"Wabit","x":550,"y":100,"wires":[],"info":"text=\"hola Tito!!\""},{"id":"81d84d51.45d4c","type":"function","z":"f450791f.d9e9c8","name":"control 1","func":"var a = msg.payload\nif (a == 'encender rojo'){\n    a = 'Alguien encendió el led rojo en tu casa!!';\n}\nif (a == 'apagar rojo'){\n    a = 'Alguien apagó el led rojo en tu casa!!'\n}\nif (a == 'encender verde'){\n    a = 'Alguien encendió el led verde en tu casa!!';\n}\nif (a == 'apagar verde'){\n    a = 'Alguien apagó el led verde en tu casa!!'\n}\nif (a == 'encender azul'){\n    a = 'Alguien encendió el led azul en tu casa!!';\n}\nif (a == 'apagar azul'){\n    a = 'Alguien apagó el azul en tu casa!!'\n}\nif (a == 'encender todos'){\n    a = 'Alguien encendió todas las luces de tu casa!!'\n}\nif (a == 'apagar todos'){\n    a = 'Alguien apagó todas las luces de tu casa!!'\n}\n\nmsg.payload = a\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":100,"wires":[["71cb682.6a7a918"]]},{"id":"e2f58e3e.817198","type":"play audio","z":"f450791f.d9e9c8","name":"","voice":"24","x":770,"y":320,"wires":[]},{"id":"9489298c.73a4d","type":"postgres","z":"f450791f.d9e9c8","postgresdb":"aa64692f.7f2a8","name":"Base de Datos","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":760,"y":440,"wires":[]},{"id":"d2f15aba.d507a","type":"function","z":"f450791f.d9e9c8","name":"","func":"// Según la documentación msg.queryParameters a crear\n\nmsg.queryParameters =msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["9489298c.73a4d"]]},{"id":"7e2ca638.84877","type":"inject","z":"f450791f.d9e9c8","name":"Crear Tabla","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CREATE TABLE public.production (     id serial PRIMARY KEY,times TIMESTAMP, speed1 integer,speed2 integer,speed3 integer,speed4 integer,speed5 integer,speed6 integer,speed7 integer,speed8 integer ) WITH (     OIDS=FALSE );","payloadType":"str","x":320,"y":440,"wires":[["d2f15aba.d507a"]]}]